a {
  text-decoration: none;
  color: white;
  margin: 20px;
  cursor: pointer;
}

.nav {
  margin: 0;
  text-align: center;
}

.top-color {
  background-color: grey;
}

.bottom-color {
  background-color: rgb(71, 71, 71);
}

.big-mango {
  font-size: large;
}

.small-mango {
  color: white;
}

li {
  list-style: none;
  border-radius: 15px;
  background-color: white;
  box-shadow: 10px black;
}

li > h3 {
  font-size: 12px;
  text-align: center;
}

img {
  width: 50px;
}

ul li {
  /* float: left; */
  width: 100%;
  margin-bottom: 10px;
  padding-left: 0;
  justify-content: left;
  align-items: flex-end;
  text-align: left;
}

.hidden {
  display: none;
}
