a {
  text-decoration: none;
  color: white;
  margin: 20px;
  cursor: pointer;
}

.nav {
  margin: 0;
  text-align: center;
}

.top-color {
  background-color: grey;
}

.bottom-color {
  background-color: rgb(71, 71, 71);
}

.big-mango {
  font-size: large;
}

.small-mango {
  color: white;
}

li {
  list-style: none;
}

img {
  width: 50px;
}

.start-left ul li {
  float: left;
  width: 50%;
}

.hidden {
  display: none;
}
